.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://media.istockphoto.com/id/1397899377/es/foto/medicina-herbal-cura-alternativa-farmacia-de-la-naturaleza-y-homeopat%C3%ADa-hierba-fresca-en-un.jpg?s=612x612&w=0&k=20&c=FMtAlJ8aEvHJ4AwXU1kAj8cHf-88cbUzKEnMZRumzC8='); 
  background-size: cover;
  background-position: center;
  width: 75vw;  /* Toma todo el ancho de la ventana */
  height: 100vh; /* Toma todo el alto de la ventana */
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px; /* Aumenta el ancho del login box */
  margin-right: 20px;
}

.login-title {
  margin-bottom: 20px;
  color: #6a11cb; /* Similar to the purple text from the image */
  font-size: 24px;
}

.login-google {
  display: block;
  background-color: #6a11cb;
  color: white;
  padding: 12px;
  width: 90%; /* Ajusta el ancho según sea necesario */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px ; /* Centra horizontalmente */
  text-align: center;
}

.or-text {
  margin: 20px 0;
  color: #6a11cb; /* Consistent color for the "or" text */
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #6a11cb; /* Make it purple as well */
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  display: block;
  background-color: #6a11cb;
  color: white;
  padding: 12px;
  width: 90%; /* Ajusta el ancho según sea necesario */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px ; /* Centra horizontalmente */
  text-align: center;
}

.signup-text {
  margin-top: 20px;
  color: #6a11cb;
}

.signup-text a {
  color: #6a11cb;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Extra styles for right-side illustration */
.right-side-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://media.istockphoto.com/id/1397899377/es/foto/medicina-herbal-cura-alternativa-farmacia-de-la-naturaleza-y-homeopat%C3%ADa-hierba-fresca-en-un.jpg?s=612x612&w=0&k=20&c=FMtAlJ8aEvHJ4AwXU1kAj8cHf-88cbUzKEnMZRumzC8='); /* Replace with the paper boat image */
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%; /* Adjust the width of the right-side */
  height: 100vh;
}
