.cta-section {
  text-align: center;
  margin-top: 20px; 
}

.cta-button {
  padding: 10px 20px;
  margin-top: 20px; 
  background-color: #4CAF50; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #45a049; /* Color cuando el ratón pasa por encima */
}
.main-title{
    font-size: 45px;
    color: black;

}