/* Estilos para el componente Planta */

/* Estilo para el encabezado de segundo nivel (h2) */
h2 {
  color: #2f8f20; /* Color verde para el texto */
  font-size: 1.5rem; /* Tamaño de fuente de 1.5 rem */
  margin-bottom: 10px; /* Margen inferior de 10px para separación */
}

/* Estilo para los párrafos (p) */
p {
  font-size: 1rem; /* Tamaño de fuente de 1 rem */
  line-height: 1.6; /* Altura de línea de 1.6 para mejorar la legibilidad */
}

/* Estilo para las imágenes (img) */
img {
  max-width: 100%; /* La imagen no excederá el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Cambia el comportamiento de la imagen a bloque */
  margin: 10px 0; /* Margen superior e inferior de 10px */
}

/* Estilo para el encabezado de tercer nivel (h3) */
h3 {
  font-size: 1.2rem; /* Tamaño de fuente de 1.2 rem */
  color: #4a4a4a; /* Color gris oscuro para el texto */
  margin-top: 15px; /* Margen superior de 15px para separación */
}

/* Estilo para listas desordenadas (ul) */
ul {
  list-style-type: disc; /* Tipo de viñetas de la lista como discos */
  padding-left: 20px; /* Padding izquierdo de 20px para indentación */
}

/* Estilo para los elementos de la lista (li) */
li {
  margin-bottom: 5px; /* Margen inferior de 5px entre elementos de lista */
}

/* Estilo para los bloques de información (div) */
div {
  border: 1px solid #ddd; /* Borde de 1px de color gris claro */
  padding: 15px; /* Padding de 15px dentro del div */
  border-radius: 5px; /* Bordes redondeados con un radio de 5px */
  margin-bottom: 20px; /* Margen inferior de 20px para separación entre bloques */
  background-color: #f9f9f9; /* Color de fondo gris claro para el bloque */
}
